ion-content{
    width: 100%;
    height: 100%;
    section.content{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        form{
            width: 100%;
            max-width: 500px;
            margin: 0;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            .full-width{
                width: 100%;
                height: auto;
            }
        }
    }
}