<ion-content>
  <section class="items" *ngIf="tasks.length > 0" >
    <ion-item class="cursor-pointer" *ngFor="let task of tasks" [color]="(task.completed)? 'success': 'danger'">
      <ion-label>
        <h2>{{task.title | titlecase}}</h2>
        <p *ngIf="task.completed == true">Completed</p>
        <p *ngIf="task.completed == false">To Complete</p>
      </ion-label>
    </ion-item>
  </section>
  <section class="exqueleton" *ngIf="tasks.length <= 0">
    <ion-item class="cursor-pointer" *ngFor="let item of counts">
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </section>
</ion-content>
