ion-content{
    width: 100%;
    height: 100%;
    section{
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        ion-card{
            width: 300px;
            height: 300px;
            img{
                width: 100%;
                height: 90%;
            }
            
        }
    }
}