section.content{
    width: 100%;
    padding: 50px 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    .avatar{
        margin: 10px;
        width: 80vw;
        height: 80vw;
        max-width: 350px;
        max-height: 350px;
        border-radius: 5000vw;
        overflow: hidden;
        label{
            display: flex;
            justify-content: center;
            flex-flow: column;
            width: 100%;
            height: 100%;
            div.image{
                width: 100%;
                height: 100%;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }
    .info{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        form{
            display: flex;
            flex-flow: column nowrap;
            margin: 10px;
            width: 100%;
            max-width: 400px;
            &.address{
                .full-width{
                    width: 100%;
                }
            }   
        }
    }
}