<ion-content>
  <section class="items" *ngIf="albums.length > 0" >
    <ion-card class="cursor-pointer" *ngFor="let album of albums" [routerLink]="'album/' + album.id" >
      <ion-card-header>
        <ion-card-subtitle>{{album.title | titlecase}}</ion-card-subtitle>
      </ion-card-header>
      <img [src]="album.photo">
    </ion-card>
  </section>
  <section class="exqueleton" *ngIf="albums.length <= 0">
    <ion-card class="cursor-pointer" *ngFor="let item of counts" >
      <ion-card-header>
        <ion-card-title><ion-skeleton-text animated style="width: 40%"></ion-skeleton-text></ion-card-title>
      </ion-card-header>
    </ion-card>
  </section>
</ion-content>
